body{
    background-color:rgb(25, 25, 25);
    color:white;
    font-family:Arial;
}
.title{
    font-size:28px;
    font-weight:bold;
}
.move-icon{
    height:50px;
}
.move-button{
    background-color:transparent;
    border:3px solid white;
    height:120px;
    width:120px;
    border-radius:60px;
    margin-right:10px;
    cursor:pointer;
}
.result{
    margin-top:50px;
    font-size: 25px;
    font-weight:bold;
}
.score{
    margin-top:60px;
}
.reset-button,
.autoplay-button{
    font-size:14px;
    padding: 6px 13px;
    cursor:pointer;
    background-color:rgb(255, 255, 255);
}
.yes-button,
.no-button{
    cursor:pointer;
    border:none;
    font-size:18px;
    padding:8px 10px;
    margin-right:10px;
}
.yes-button{
    background-color:green;
}
.no-button{
    background-color:rgb(155, 2, 2);
}